# Build 
code/build/
code/Json/picovoice
code/Json/final

# Binary Files
*.bin

# .ppn File (Picovoice wake words)
*.ppn

# Remove STM32 Audio because of licence
code/Middlewares/ST/STM32_Audio/Addons